* {
  font-size: 1.1rem;
  margin: none;
  padding: none;
}
html,
body {
  height: 100%;
  background-color: #282c34;
  font-family: Arial, Helvetica, sans-serif, serif;
}

.container {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 25px;
}

img {
  width: 40px;
  height: 40px;
}

Header {
  display: flex;
}
h1 {
  font-size: 100px;
  font-family: "Poppins";
  position: center;
  color: white;
  text-align: center;
  letter-spacing: 30px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.blue-title-letters {
  color: #3bb99b;
}

.header-about {
  border: none;
  color: white;
  background-color: #282c34;
}

.header-about:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}

.header-store {
  margin-right: auto;
  border: none;
  color: white;
  background-color: #282c34;
}

.header-store:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}

.header-floomail {
  border: none;
  color: white;
  background-color: #282c34;
}

.header-floomail:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}

.header-images {
  border: none;
  color: white;
  background-color: #282c34;
}

.header-images:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}

.User-profile-image {
  border-radius: 45%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5.5%;
  background-color: #707793;
  display: flex;
  align-items: center;
}
.footer-business {
  background-color: #707793;
  outline: none;
  border: none;
  color: white;
  height: 100%;
}
.footer-business:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}
.footer-privacy {
  background-color: #707793;
  outline: none;
  border: none;
  color: white;
  margin-right: auto;
  height: 100%;
}
.footer-privacy:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}
.footer-terms {
  background-color: #707793;
  outline: none;
  border: none;
  color: white;
  height: 100%;
}
.footer-terms:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}
.footer-settings {
  background-color: #707793;
  outline: none;
  border: none;
  color: white;
  height: 100%;
}
.footer-settings:hover {
  filter: brightness(80%);
  transition-duration: 0.25s;
}

.SMTM {
  border-radius: 5px;
  color: #707070;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 26px;
  padding-right: 25px;
  margin: 24px;
  width: 258px;
  height: 72px;
  outline: none;
  border: none;
}
.flooble-search {
  border-radius: 5px;
  color: #707070;
  margin: 24px;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 56px;
  padding-right: 54px;
  width: 258px;
  height: 72px;
  border: none;
  outline: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 851px;
  height: 66px;
  background-color: white;
  margin: auto;
  border-radius: 37px;
}

.search-box {
  border: none;
  outline: none;
  margin: 0 1rem 0 1rem;
  width: 851px;
  font-size: 1.5rem;
}

#search-icon {
  margin-left: 10px;
  color: #707070;
}

#mic-icon {
  margin-right: 10px;
  color: #707070;
}

.flooble-search:hover {
  filter: brightness(90%);
  transition-duration: 0.25s;
}
.flooble-search:active {
  filter: brightness(80%);
  transition-duration: 0.025s;
}

.SMTM:hover {
  filter: brightness(90%);
  transition-duration: 0.25s;
}
.SMTM:active {
  filter: brightness(80%);
  transition-duration: 0.025s;
}

@media only screen and (width: 1024px) {
  .button-wrapper {
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .input-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .title-wrapper {
    margin-top: 330px;
  }
}
@media only screen and (width: 1366px) {
  .button-wrapper {
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .input-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .title-wrapper {
    margin-top: 200px;
  }
}
@media only screen and (width: 375px) {
  .input-wrapper {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .button-wrapper {
    display: inline-block;
    justify-content: center;
    margin-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #mic-icon {
    display: none;
  }
  #search-icon {
    margin-left: 20px;
  }
  .search-box {
    width: 100%;
  }
  .title-wrapper h1 {
    font-size: 2rem;
    margin-top: 200px;
  }
  .SMTM {
  }
}
