* {
  font-size: 1.1rem;
  margin: none;
  padding: none;
}
html,
body {
  height: 100%;
  background-color: #282c34;
  font-family: Arial, Helvetica, sans-serif, serif;
}

.container {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 25px;
}

img {
  width: 40px;
  height: 40px;
}

Header {
  display: flex;
}
h1 {
  font-size: 100px;
  font-family: "Poppins";
  position: center;
  color: white;
  text-align: center;
  letter-spacing: 30px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.blue-title-letters {
  color: #3bb99b;
}

.header-store {
  margin-right: auto;
  border: none;
  color: white;
  background-color: #282c34;
}

.header-about {
  border: none;
  color: white;
  background-color: #282c34;
}

.header-floomail {
  border: none;
  color: white;
  background-color: #282c34;
}

.header-images {
  border: none;
  color: white;
  background-color: #282c34;
}

.User-profile-image {
  border-radius: 45%;
}

.footer {
  background-color: #707793;
  position: relative;
  height: 45px;
  margin-top: -50px;
  clear: both;
}
.SMTM {
  border-radius: 5px;
  color: #707070;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 26px;
  padding-right: 25px;
  margin: 24px;
}
.flooble-search {
  border-radius: 5px;
  color: #707070;
  margin: 24px;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 56px;
  padding-right: 54px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
}

.search-box {
  border: none;
  outline: none;
  margin: 0 1rem 0 1rem;
  border-radius: 20px;
}

#search-icon {
  margin-left: 10px;
}

#mic-icon {
  margin-right: 10px;
}
